<!-- Header -->
<section id="header">
	<div class="container">
		
		<div class="branding">
			{{#link-to 'index'}}<img src="/assets/img/nextgen-leads-logo-220x29.png" alt="NextGen Leads">{{/link-to}}
		</div>

		<nav>
			{{#link-to 'login' class="login"}}Login{{/link-to}}{{#link-to 'signup' class="signup"}}SignUp{{/link-to}}
		</nav>

	</div>
</section>
<!-- End Header -->