<div class="wrapper corporate">

  {{partial "header"}}

  <!-- BODY -->
  <section id="body">

    <!-- CONTENT -->
    <section id="content">

      {{yield}}

    </section>
    <!-- END CONTENT -->

  </section>
  <!-- END BODY -->

  {{partial "footer"}}

</div>